<!DOCTYPE html>
<head>
    <title>Ghost spotters</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <style>
    </style>
    <div>
        <header>
            <h1 id="Title">
                Ghost spotters
            </h1>
            <h3 id="hdescp">
                A repository for Ghost kitchens and Ghost restarant brands.
            </h3>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="/verify">Verify</a>
                </li>
                <li>
                    <a href="/login">Log in</a>
                </li>
                <li>
                    <a href="/addnew">New Post[TEMP]</a>
                </li>
            </ul>
        </nav>
    <div id="body">
        {{{body}}}
    </div>
    </div>

</body>
</html>