<script>
    let activetab = document.getElementById('login');
    activetab.classList.add('active');
</script>

<form method="POST" action="">
		username: <input name="username" type="text">	
		password: <input name="password" type="password">	
		<input type="submit" value="Login">	
</form>