<div>
    <form id="newBrandPoster" method="POST" action="/addnew">
        Brand name:<input type="text" name="BrandName">
        <br>
        Brand Location:<input type="text" name="BrandLocation">
        <br>
        Description:
        <textarea name="descp" id="input" cols="50" rows="10"></textarea>
        <br>
        <input type="Submit" value="Submit">
    </form>
</div>