<div>
    <form id="newKitchenPoster" method="POST" action="/addnewKitchen">
        Kitchen name:<input type="text" name="KitchenName">
        <br>
        Kitchen Location:<input type="text" name="KitchenLocation">
        <br>
        <input type="Submit" value="Submit">
    </form>
</div>